<%- include('./partials/head') %> 
<%- include('partials/navbar.ejs') %>
<div class="container">
  <h1>The Home Page</h1>
  <h1><%= 4 + 5 + 1 %> <%= 'hello world'.toUpperCase() %></h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, odit
    distinctio. Ullam deleniti cumque eaque inventore, beatae qui explicabo sunt
    laborum exercitationem perferendis minima, molestiae dolorum deserunt
    eligendi aliquid repellendus.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, odit
    distinctio. Ullam deleniti cumque eaque inventore, beatae qui explicabo sunt
    laborum exercitationem perferendis minima, molestiae dolorum deserunt
    eligendi aliquid repellendus.
  </p>
</div>
<%- include('partials/footer.ejs') %>
